* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navBar {
    margin:0;
    padding:0;
    background-color: rgba(196, 197, 243, 0.4);
    align-items: center;
    text-align: center;
}
.navElement{
    font-size: 5vw;
    color:black;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navBar :hover{
    color: white;
    transition: color 0.3s ease;
}

#body1 {
    background-color: rgb(195, 190, 255);
}

#body2 {
    background-color: rgb(195, 190, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#bodyLoteria {
    background-color: rgb(255, 255, 255);
}

#bodyOrange {
    background-color: rgb(255, 225, 193);
}

.artBanner{
    width: 90vw;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.artBanner img {
    width: 90vw;
    height: 50vw;
    object-fit: scale-down;
    transform: translate(4vw, 0vw);
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    overflow: hidden;
    z-index: -1;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-49.5%, -50%);
    background-size: cover;
    scale: 102%;
}
.sig{
    color: white;
    text-align: center;
    transform: translate(0, 950%);
}



.image-background {
    width: 100%;
    max-width: auto;
    height: auto;
    margin: 2rem 0;
}


.groups{
    display: flex;
    flex-direction: column;
    align-items: center; 
    transform: translate(0, -5%);
}

.groupDisplayBox{
    width: 48vw;
    height: 7vw;
    background-color:rgb(195, 190, 255);
    margin: 0px;
    text-align: center;
    transition: background-color 0.3s ease;
    transition: scale 0.4s ease;
}

.groupDisplayBox:hover {
    scale: 106%;
}

.groupElement{
    font-size: 4vw;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    line-height: 4vw;
    display: block;
    height: 100%;
    transition: color 0.3s ease;
}

.groupElementProject{
    font-size: 4vw;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    text-size-adjust: 100%;
    line-height: 10vw;
    display: block;
    height: 100%;
    transition: color 0.3s ease;
}

.groupDisplayBox:hover .groupElement {
    color: rgb(255, 255, 255);
}

.groupDisplayBox:hover .groupElementProject {
    color: rgb(255, 255, 255);
}



.returnArea{
    background-color: rgba(240, 248, 255, 0);
    text-align: center;
    text-decoration: none;
    height: 50px;
    padding: 5px;
}

.returnArea a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 20px;
}
.returnArea :hover{
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
}

.returnArea2{
    background-color: rgba(240, 248, 255, 0);
    text-align: center;
    text-decoration: none;
    height: 20px;
}

.returnArea2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    font-size: 20px;
}
.returnArea2 :hover{
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.artRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.artWindow{
    width: 31.25vw;
    height: 38.194vw;
    margin: 10px;
    background-color: rgba(255, 228, 196, 0);
    transition: opacity 0.1s ease-in;
}

.artWindow:hover{
    animation: smallChange 2s ease-in-out infinite;
    background-color: rgba(255, 228, 196, 0.177);
    opacity: 0.9;
    transition: opacity 0.1s ease-in;
}

.artWindow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artWindow img:hover{
    width: 100%;
    height: 100%;
    animation: smallChange 2s ease-in-out infinite;
}

.artWindowLong {
    width: 96.527vw;
    height: 38.194vw;
    margin: 10px;
    background-color: rgba(255, 228, 196, 0);
    transition: opacity 0.2s ease-in;
}

.artWindowLong:hover{
    animation: smallChange 2s ease-in-out infinite;
    background-color: rgba(255, 228, 196, 0.177);
    opacity: 0.9;
    transition: opacity 0.2s ease-in;
}

.artWindowLong img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artWindowLong img:hover{
    width: 100%;
    height: 100%;
    animation: smallChange 2s ease-in-out infinite;
}


@keyframes smallChange {
    0%   { transform:scale(100%); }
    50%  { transform:scale(100.5%);}
    100% { transform:scale(100%); }
  }


.desc{
    text-align: center;
    color:black;
    font-size: 15px;
    height: 15px;
    padding: 15px;
}

.musicHolder{
   text-align: center;
   padding: 10px;
   font-size: 18px;
}

.musicText {
    margin-bottom: 2px;
    display: block; 
}

.musicTextbig{
    margin-bottom: 2px;
    display: block; 
    font-size: 35px;
}

.logo{
    text-align: center;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.instagramHolder{
    text-align: center;
    text-decoration: none;
    padding: 40px;
}

.instagramHolder img{
    width: 50px;
    height: 50px;
    text-align: center;
    object-fit:scale-down;
    filter: invert(0);
    transition: filter 0.3s ease-in-out;
}
.instagramHolder img:hover{
    filter: invert(1);
    animation: smallChange 2s ease-in-out infinite;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 2rem;
}

.name{
    font-size: 16vw;
    text-align: left;
}

.infoAfter{
    color: rgb(0, 0, 0);
    font-size: 7vw;
    text-align: right;
    margin: 1vw;
}

.infoAfterLink{
    font-size: 4vw;
    text-align: right;
    text-decoration: none;
    color: black;
    transition: color ease-in 0.5s;
    text-align: right;
    float: right;
    margin: 1vw;
}

.infoAfterLink:visited{
    text-decoration: none;
    color: black;
}

.infoAfterLink:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color ease-in 0.1s;
}


.infoAfterSmall{
    font-size: 4vw;
    text-align: right;
    margin: 1vw;
}

.fullImage{
    width: 40vw;
    height: 40vw;
    object-fit: scale-down;
    padding: 0%;
}
.viewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping */
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.artDesc{
    width: 25vw;
    height: auto;
    padding: 1rem;
    font-size: 10vw;
    transform: translate(0,-10%);
}

/* Lightbox Styles */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: scroll;
    
}

.lightbox-content {
    margin-top: 27rem;
    max-width: 150%;
    max-height: 150%;
    object-fit: contain;
}

.lightbox-contentB {
    margin-top: 4rem;
    max-width: 105%;
    max-height: 105%;
    object-fit: contain;
}


.lightboxDesc {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#image:hover{
    cursor: pointer;

}


.projectTextConstruction{
    margin-top: 4vw;
    display: block; 
    font-size: 4vw;
    text-align: center;
    animation: smallColorChange 5s linear infinite;
}

@keyframes smallColorChange {
    0%   { color: black; }
    25%  { color: white}
    50% {color: rgb(241, 139, 50)}
    75% {color: white}
    100% { color: black; }
}

#abbr{
    text-decoration: none;
    text-decoration-style: none;
    border: none;
}

.hciTitle{
    font-size: 8vw;
    text-align: center;
    margin-top: 2rem;
}
.hciDescription{
    font-size: 2vw;
    text-align: center;
    margin: 4rem;
}

.hciAuthors{
    font-size: 1.5vw;
    text-align: center;
    margin: 2rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
}

.hciImage{
    align-items: center;
    margin: 0rem;
    overflow: hidden;
    background-size: contain;
    width: 100%;
    margin-top: 2rem;
}

.figmaLink{
    font-size: 4vw;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: color ease-in 0.5s;
    text-align: center;
    float: center;
    margin: 1vw;
}

.figmaLink:visited{
    text-decoration: none;
    color: black;
}

.figmaLink:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color ease-in 0.1s;
}


.artWindowSquare{
    width: 31.25vw;
    height: 31.25vw;
    margin: 10px;
    background-color: rgba(255, 228, 196, 0);
    transition: opacity 0.1s ease-in;
}

.artWindowSquare:hover{
    animation: smallChange 2s ease-in-out infinite;
    background-color: rgba(255, 228, 196, 0.177);
    opacity: 0.9;
    transition: opacity 0.1s ease-in;
}

.artWindowSquare img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artWindowSquare img:hover{
    width: 100%;
    height: 100%;
    animation: smallChange 2s ease-in-out infinite;
}

#title{
    font-size: 3vw;
    text-align: left;
    color: black;
}

#description{
    font-size: 1.6vw;
    text-align: left;
    color: black;
}

.fullImage, .lightbox-content {
    max-width: 100%;
    height: auto;
}

.buttonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonHolder:hover .arrowsPicL {
    transition: all 0.3s ease-in-out;
}

.buttonHolder:hover .arrowsPicR {
    transition: all 0.3s ease-in-out;
}

.prevnextButtons {
    opacity: 1;
    background: none;
    border: none;
    padding: 0.7rem;
    max-width: 4vw;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.3s ease-in-out;
}

.prevnextButtons:hover {
    transform: scale(1.1);
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.arrowsPicL, .arrowsPicR {
    max-width: 100%;
    height: auto;
    margin: 3em 0;
}

.iframe-container {
    position: static;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9; /* Use aspect-ratio for modern browsers */
    height: auto;
    overflow: visible; /* Allow content to show */
    margin-left: auto;
    margin-right: auto;
}

.iframe-container iframe {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 110vw; /* Ensures a minimum height for the form */
    border: none;
    display: block;
}

@media (max-width: 28vw) {
    .viewer {
        flex-direction: row;
    }

     .prevnextButtons {
        max-width: 5vw;
    }

    .artDesc {
        text-align: left;
        padding: 0 0rem;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navElement {
        padding: 0.5rem 0;
    }
}
